@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><font color="blue">Welcome to EPAM DevOps - L1 - Azure</font></h1>
    <p> Azure Task -  Part 2 – Create infrastructure vie Terraform and deploy webapp1 to app service using yml pipeline </p>
</div>
